pkgbase = zennotes-rs
	pkgdesc = A calm, file-based markdown notes app (Tauri desktop client)
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/alf5/ZenNotes-rs
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = npm
	makedepends = nodejs
	makedepends = pkgconf
	makedepends = git
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = hicolor-icon-theme
	source = zennotes-rs::git+https://github.com/alf5/ZenNotes-rs.git#tag=v2.1.0
	source = zennotes-rs.desktop
	sha256sums = SKIP
	sha256sums = 29d0643953714a755f9da9aea4236b4630d22a66956ba8bddbc428ebddb2a82d

pkgname = zennotes-rs
